body {
    width: 900px;
    margin: auto;
    font-family: "Times New Roman", Times, serif;
} 

nav {
    margin-top: 5px;
    width: 100%;
    line-height: 32px;
}
  
nav a {
    text-decoration: none;
    display: inline-block;
    background-color: #416aab;
    color: white;
    font-size: 20px;
    width: 135px;
    padding: 10px;
    text-align: center;
}

header {
    width: 55%;
    margin-top: 20px;
    display: flex;
}
  
header h2 {
    font-size: 37px;
    border-right: solid grey;
    border-width: 2px;
    padding-right: 15px;
}
  
header p {
    float: right;
    padding: 30px 0px 0px 20px;
}
  
.contact {
    width: 16%;
    text-align: right;
    margin: -88px 0px 0px 744px;
    font-size: 14px;
}


.container {
    margin-top: 20px;
    width: 100%;
    height: 380px;
    background-color: #a7d1c4;
}
  
.tech {
    width: 78%;
    height: 170px;
    position: absolute;
    top: 350px;
    left: 100px;
    transform-origin: top left;
    transform: skew(25deg) rotate(-9deg);
    border-radius: 30px;
    background-color: #227d2e;
}
  
.tech p {
    font-size: 110px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    transform: skew(25deg);
    margin: 23px;
}
  
.text {
    max-width: 29%;
    background-color: #416aab;
    color: white;
    padding: 11px;
    position: absolute;
    top: 200px;
    left: 130px;
}
  
.text p:first-child {
    border-bottom: white dashed;
    border-bottom-width: thin;
    font-size: 20px;
    padding-bottom: 3px;
}
  
.text p:last-child {
    font-size: 14px;
}
  
.todaysTech {
    width: 320px;
    background-color: #416aab;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 464px;
    left: 670px;
}
  
.column {
    float: left;
    width: 240px;
    border: 1px solid white;
    padding: 20px;
    margin: 8px;
    background-color: lightgrey;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.smth {
    border-bottom: 1px dotted gray;
}
.read {
    text-decoration: none;
    float: right;
}

.column2 {
    float: left;
    /* width: 240px; */
    border: 1px solid white;
    padding: 20px;
    margin: 8px;
}
.row2:after {
    content: "";
    display: table;
    clear: both;
}

#image {
    float: left;
    margin: 3px;
}


.left {
    width: 500px;
    border-bottom: 1px dotted gray;
}

.right {
    width: 240px;
    padding: 4px;
    margin: 45px;
    background-color: lightgrey;
}

#categ {
    color: grey;
    border-bottom: 1px dotted grey;
}
.nth {
    /* padding: 20px; */
    border-bottom: 1px dotted gray;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 55px;
    background-color: #416aab;
    margin-bottom: 30px;
    display: flex;
    color: white;
    font-size: 13px;
}

footer p:first-child {  
    padding: 8px
}
  
footer p:last-child {
    padding: 8px 7px 0px 435px;
}
  
  